# Twitter Crawler

## About
---
This crawler allows users to scrape the profile, and social network (i.e., friends and followers) from the handle of a Twitter user of interest. It also scraps for the top 50 most popular tweets containing the keywords "coronavirus" and/or "vaccination".

## User Guide
---
### Prerequisites

- PostgreSQL 9.5 or higher  
- pgAdmin 4 5.1 or higher
- Python 3.8 or higher with the following packages installed:  
 - tweepy 3.10.0
 - sqlalchemy 1.3.19  
 - pandas 1.2.4

### Database Set-up

1. The 'twitter.backup' file should come included with this jupyter notebook
2. Using the pgAdmin client, create a new database in PostgreSQL and name it “twitter” 
3. Follow the video here (3mins): https://www.youtube.com/watch?v=C30q5i1e9KE&t=37s
4. Choose file type as “backup”
5. Click restore
6. Database with the following schema will be imported without data:

![title](finalschema.png)

### Getting Twitter API Keys and Tokens for Authentication 

You will need the following information for authentication with Twitter within the crawler in order to crawl data using Twitter API:

- API Key
- API Secret
- Access Token
- Access Token Secret  

Here are the steps to obtain them:

1. Create a Twitter account: https://twitter.com/i/flow/signup
2. Apply for a developer account: https://developer.twitter.com/en/apply-for-access 
3. After your application is approved, create a Twitter Developer App.
4. Navigate to the App you just created and you will see a tab on “Keys and Tokens”. Clicking on the "Keys and Tokens" tab should show your API Key and Secret, as well as the Access Token and Secret.

## The Crawler Itself
---

### Importing required modules
The below code block will initialise the modules required for the crawler.

In [ ]:
import tweepy
from sqlalchemy import create_engine
import pandas as pd

print("Libraries imported.")

### Authentication with Twitter API
The below code block will authenticate our request to gain access to Twitter API methods.

Please fill in lines 2-5 below your consumer API Key, API Secret, Access Token and Access Token Secret obtained from your Twitter Developer App.

In [ ]:
# assign keys and tokens
consumer_key = "QJhfRxd4zCkvt1LSSLW7YWGcL"
consumer_secret = "3Y912GoSsrHpFoQL3RNDRXJ2LjwyT9GsvbicORNkHM3n3U2b6q"
access_token = "1385107293537062913-kUIgXqiCAlNRHWB0s45c3rrqRsAyEQ"
access_token_secret = "uIn8iH04xKy5J8OQD4uz3RfhhhSy7lfaxG6TrkwIYj6Ei"

# authentication of consumer key and consumer secret
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
  
# set access to user's access key and access secret 
auth.set_access_token(access_token, access_token_secret)
  
# calling the API 
api = tweepy.API(auth)

print("Twitter API access authenticated.")

### Connecting to database
Using the **sqlalchemy's** **create_engine** method, we establish a connection to the relevant database. 

Please change the database URL in line 1 below with your own target URL. A typical URL looks like this:  `postgresql://username:password@host:port/database`

In [ ]:
engine = create_engine('postgresql://postgres:BIDA123@localhost/twitter')

print("Database connected.")

### Request input for handle

After running below code block, please key in the handle of the twitter user profile that you would like to scrape data from. Next, we will call the **get_user** method from the API to verify if it is a valid user profile. Once a valid handle is inputted, the **get_user** method will return a user object. We will assign this user object to the variable **user**.

In [ ]:
# this while loop will run until a valid twitter handle is inputted
while True:
    
# code will prompt user of this crawler for a valid twitter handle
# get_user will check if the handle is valid
    try:
        handle = input('Key in the screen name of the targeted user.\n Hint: Key in the handle without the @ symbol: ')
        user = api.get_user(handle)
        print(f'\nGetting information for {user.name} success!')

# this block of the code will run if if an error is return by the get_user API  
    except Exception as err:
        print(f'\n Handle {handle} is not available.\n Error message{err}\n Please enter a valid Twitter handle (i.e. JoeBiden, NASA etc...)')
        continue
    break

### Crawling user profile information
The below code block will define a reusable function **insert_user_profile** to insert or update user profile information into the **user_profile** table. We will be reusing this function multiple times later, to insert the user's information, as well as information of the user's followers and friends, and also users who tweeted the keywords.   

The function takes in one argument, a user object. The function executes the sql query based on the INSERT ON CONFLICT statement. Using this statement, PostgreSQL will update the row if it already exists, otherwise, it will insert the new row, thereby preventing any duplicates.

Note this code block only defines the function, but does not run it.

In [ ]:
# define function to insert or update user information into user_profile table
def insert_user_profile(x):
    return engine.execute('''INSERT INTO user_profile(
                            twitter_user_id, screen_name, official_name, description, location,
                            url, created_at_date, number_following, number_followers, list_count
                            )
                            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
                            ON CONFLICT (twitter_user_id)
                            DO UPDATE 
                            SET (
                            screen_name, official_name, description, 
                            location, url, created_at_date, 
                            number_following, number_followers, list_count
                            ) = (
                            EXCLUDED.screen_name, EXCLUDED.official_name, EXCLUDED.description,
                            EXCLUDED.location, EXCLUDED.url, EXCLUDED.created_at_date,
                            EXCLUDED.number_following, EXCLUDED.number_followers, EXCLUDED.list_count
                            );''',
                            x.id, x.screen_name, x.name, x.description, x.location,
                            x.url, x.created_at, x.friends_count, x.followers_count, x.listed_count
                            )
print("insert_user_profile function defined.")

The below code block will call the function we have just created, and pass in the **user** variable to insert the user's information into the **user_profile** table.

In [ ]:
# insert user's information in user_profile table
insert_user_profile(user)

print(f"{user.name}'s information inserted into database.")

### Crawling social network of handle

The below code block will insert up to 50 friends and 50 followers of the user into the **user_social_network** table. It will also insert their profile information into the **user_profile** table.

The social network of any Twitter user refers to who the user is following (i.e., "friends") and those who are following the user (i.e., "followers").

In [ ]:
# create new lists that will hold the friends and followers' twitter id
friends_list = []
followers_list = []

# append 50 most recent friends to the friends_list
for friend in tweepy.Cursor(api.friends, handle).items(50):
    friends_list.append([user.id, friend.id, 'friend'])
    
    #insert each friend into user_profile table
    insert_user_profile(friend)
    
# append 50 most recent followers to the followers_list
for follower in tweepy.Cursor(api.followers, handle).items(50):
    followers_list.append([user.id, follower.id, 'follower'])
    
    #insert each follower into user_profile table
    insert_user_profile(follower)
    
# convert lists to dataframes
followers_df = pd.DataFrame(followers_list, columns = ['twitter_user_id','friend_follower_id','relationship'])

friends_df = pd.DataFrame(friends_list, columns = ['twitter_user_id','friend_follower_id','relationship'])

#combine dataframes into one
social_network = pd.concat([followers_df, friends_df])

# write social_network dataframe to postgresql database
social_network.to_sql('user_social_network', engine, if_exists='append', index=False)

# remove duplicate rows (if any) in sql and keeping only the most recent version
engine.execute("DELETE FROM user_social_network WHERE social_table_id IN (SELECT social_table_id FROM\
                (SELECT social_table_id, ROW_NUMBER()OVER(PARTITION BY friend_follower_id, relationship \
                ORDER BY social_table_id DESC) AS row_num FROM user_social_network) t WHERE t.row_num > 1);")    

print("Social network information inserted into database.")

### Crawling popular tweets of keywords: [Coronavirus, Vaccination]
The below code block will insert up to 50 popular tweets of the keywords 'coronavirus' or 'vaccination', excluding retweets, into the **tweets** table. It will also insert the tweet users' profile information into the **user_profile** table.

In [ ]:
# define search terms, filter out retweets
search_terms = ('coronavirus OR vaccination -filter:retweets')

# using Cursor to search for top 50 most popular tweets
tweets = tweepy.Cursor(api.search, q=search_terms, lang='en', tweet_mode='extended', result_type='popular').items(50)

# define a new list called tweets_list
tweets_list = []

# running a for loop 
for tweet in tweets:
    
    # insert each tweet's user in user_profile table
    insert_user_profile(tweet.user)
    
    # extract necessary fields from tweets into tweets_list
    tweets_list.append([tweet.id, tweet.user.id, tweet.created_at, 
                        tweet.full_text, tweet.retweet_count, tweet.favorite_count])
       
# converts tweets_list into tweet_df dataframe
tweet_df = pd.DataFrame(tweets_list, columns = ["tweet_id", "twitter_user_id", "date_created", 
                                                "tweet", "retweet_count","favorite_count"])    
 
# write tweet_df dataframe into the 'tweets' table in PostgreSQL database
tweet_df.to_sql('tweets', engine, if_exists='append', index=False)

# remove duplicate rows in sql and keeping only the most recent version
engine.execute("DELETE FROM tweets WHERE id IN (SELECT id FROM\
                (SELECT id, ROW_NUMBER()OVER(PARTITION BY tweet_id\
                ORDER BY id DESC) AS row_num FROM tweets) t WHERE t.row_num > 1);")

print("Tweets inserted into database.")

### Removing tweets not containing keywords from database

Some of the tweets crawled using the API may not actually contain the keywords as required. To rectify this, we will query and filter the tweets table using SELECT.. WHERE.. NOT LIKE statements to obtain these tweets, and print out the number of tweets that did not contain the keywords.

In [ ]:
# query tweets table to filter for tweets that did not contain keywords
tweets_no_keyword = engine.execute('''SELECT tweet FROM tweets 
                                        WHERE (
                                        LOWER(tweet) NOT LIKE %s 
                                        AND 
                                        LOWER(tweet) NOT LIKE %s);''', 
                                        '%coronavirus%', '%vaccination%')

# print number of tweets that did not contain keywords
print(f'There are {tweets_no_keyword.rowcount} tweet(s) that did not contain the required keywords: \n')
for tweet in tweets_no_keyword:
    print(tweet[0], "\n\n ----------")

If there are tweets without keywords, we can delete these records by enclosing the above SQL query with DELETE.. WHERE.. IN statement, and print the number of tweets that are deleted from the tweets table.

In [ ]:
# try to delete records with tweets without keywords
try:
    engine.execute('''DELETE FROM tweets
                        WHERE tweet_id IN (
                        SELECT tweet_id FROM tweets 
                        WHERE (
                        LOWER(tweet) NOT LIKE %s 
                        AND 
                        LOWER(tweet) NOT LIKE %s));''', 
                        '%coronavirus%', '%vaccination%')
    
# print error message if deletion did not execute    
except Exception as e:
    print(f"An error has occurred: {e}")
    
# print number of tweets deleted
else:
    print(f"{tweets_no_keyword.rowcount} tweet(s) have been deleted from tweets table.")

## Database Manipulation
---
Users may refer to database schema in **Database Set-up** section when querying the database.

### Does having a higher follower count gives their tweet a higher favourite count?

Data manipulation 1: In this query, we rank both follower count and favourite count.

In [ ]:
# this SELECT query provides a rank to both the follower count and favorite count

data_manipulation1 = engine.execute('SELECT screen_name, \
                                    DENSE_RANK() OVER(ORDER BY number_followers DESC) AS follower_rank, \
                                    DENSE_RANK() OVER(ORDER BY favorite_count DESC) AS favourite_rank, \
                                    number_followers AS number_of_followers, \
                                    favorite_count AS number_of_favourite, \
                                    tweet \
                                    FROM user_profile \
                                    INNER JOIN tweets \
                                    ON user_profile.twitter_user_id = tweets.twitter_user_id \
                                    ORDER BY number_followers DESC')

# to expand column width of the DataFrame
pd.set_option('display.max_colwidth', 350)

# converts the query as a DataFrame
data_manipulation1_df = pd.DataFrame(data=data_manipulation1,columns=data_manipulation1.keys())

# displaying DataFrame
data_manipulation1_df

### Updating blank descriptions

Data manipulation 2: In this code block, we will show the list of twitter users who have blank description fields.

In [ ]:
# list of twitter user where description is blank
data_manipulation2 = engine.execute(" SELECT official_name, description, created_at_date \
                                        FROM user_profile WHERE description = '' ")

# converts to DataFrame
data_manipulation2_df = pd.DataFrame(data=data_manipulation2,columns=data_manipulation2.keys())

#Displaying DataFrame
data_manipulation2_df

We will update the twitter user's description to include a short intro about himself/herself using the **EXTRACT**, **NOW** and **CONCAT** function

In [ ]:
# this UPDATE function will update the description field of twitter profiles that have been left blank

engine.execute("UPDATE user_profile \
        SET description = CASE \
        WHEN (EXTRACT(DAY FROM NOW()- created_at_date)) > 365 \
        THEN CONCAT('Hi, my name is ', INITCAP(official_name), '. I am an experienced Twitter user')  \
        WHEN (EXTRACT(DAY FROM NOW()- created_at_date)) <= 365 \
        THEN CONCAT('Hi, my name is ', INITCAP(official_name), '. I am new to Twitter') \
        END \
        WHERE description = ''; ") 

# saving SELECT query with updated description as a variable
data_manipulation2 = engine.execute('''SELECT official_name, description, created_at_date \
                                        FROM user_profile WHERE description LIKE %s;''', 'Hi, my name is%')

# converts to query DataFrame
data_manipulation2_df = pd.DataFrame(data=data_manipulation2,columns=data_manipulation2.keys())

#Displaying DataFrame
data_manipulation2_df